%h2.capital.theFont
  =title I18n.t(:change_password)
  
-form_for @user, :url => password_reset_path, :method => :put do |f|
  =f.error_messages
  =f.label :password
  =f.password_field :password
  %br
  =f.label :password_confirmation
  =f.password_field :password_confirmation
  %br
  =f.submit "Update my password and log me in"