%h2
  =title I18n.t(:temporal_translation, :event => @translation.event.title)
%h4 
  =t :translated_by
  = link_to @translation.user.name, @translation.user
  
-if !@translation.comment.nil?
  %h 
    =t :translator_comment
    =@translation.comment
%p    
%small 
  =t :translation_message01
  =t :translation_message02
   
%p 
  =t :translation_message03


#tabs 
  -if I18n.locale.to_s=="en"
    %ul
      <li><a href="#tabs-1">spanish</a></li>
      <li><a href="#tabs-2">Basque</a></li>
      <li><a href="#tabs-3">French</a></li>
      <li><a href="#tabs-4">Ennglish</a></li>
  -elsif I18n.locale.to_s=="eu"
    %ul
      %li
        =link_to I18n.t(:lang_basque), '#tabs-2'
      %li
        =link_to I18n.t(:lang_spanish), '#tabs-1'
      %li
        =link_to I18n.t(:lang_french), '#tabs-3'
      %li
        =link_to I18n.t(:lang_english), '#tabs-4'
  -elsif I18n.locale.to_s=="fr"
  
  -else
        
  #tabs-1    
    %p
      castellano
    
  #tabs-2   
    %p
      euskara
  #tabs-3  
    %p
      french
  #tabs-4
    %p
      english