%h2.capital.theFont
  -@event = @translation.event
  =title I18n.t(:temporal_translation, :event => (render "layouts/title"))
%h4
  =t :translated_by
  = link_to @translation.user.name, @translation.user, :class=>"capital red_font"
  
-if !@translation.comment.nil?
  %h 
    =t :translator_comment
    %i 
      =@translation.comment
%p    
%small 
  =t :translation_message01
  =t :translation_message02
   
%p 
  =t :translation_message03


#tabs 
  -if I18n.locale.to_s=="en" && !@translation.des_en.empty?
    %ul
      %li
        =link_to I18n.t(:lang_english), '#tabs-4'
      %li
        =link_to I18n.t(:lang_spanish), '#tabs-1'
      %li
        =link_to I18n.t(:lang_basque), '#tabs-2'
      %li
        =link_to I18n.t(:lang_french), '#tabs-3'
  -elsif I18n.locale.to_s=="eu" && !@translation.des_eu.empty?
    %ul
      %li
        =link_to I18n.t(:lang_basque), '#tabs-2'
      %li
        =link_to I18n.t(:lang_spanish), '#tabs-1'
      %li
        =link_to I18n.t(:lang_french), '#tabs-3'
      %li
        =link_to I18n.t(:lang_english), '#tabs-4'
  -elsif I18n.locale.to_s=="fr" && !@translation.des_fr.empty?
    %ul
      %li
        =link_to I18n.t(:lang_french), '#tabs-3'
      %li
        =link_to I18n.t(:lang_basque), '#tabs-2'
      %li
        =link_to I18n.t(:lang_spanish), '#tabs-1'
      %li
        =link_to I18n.t(:lang_english), '#tabs-4'
  -elsif !@translation.des_es.empty?
    %ul
      %li
        =link_to I18n.t(:lang_spanish), '#tabs-1'
      %li
        =link_to I18n.t(:lang_basque), '#tabs-2'
      %li
        =link_to I18n.t(:lang_french), '#tabs-3'
      %li
        =link_to I18n.t(:lang_english), '#tabs-4'
  -else
    %ul
      %li
        =link_to I18n.t(:lang_basque), '#tabs-2'
      %li
        =link_to I18n.t(:lang_spanish), '#tabs-1'
      %li
        =link_to I18n.t(:lang_french), '#tabs-3'
      %li
        =link_to I18n.t(:lang_english), '#tabs-4' 
              
  #tabs-1    
    %p
      %b Titulo del evento
      %br/
      -if @translation.event.title_es.empty?
        -if !@translation.title_es.empty?
          =@translation.title_es
        -else
          %i "no translation so far"
      -else
        =@translation.event.title_es
      %p
      %b Descripcion del Evento
      %br/
      -if @translation.event.des_es.empty?
        -if !@translation.des_es.empty?
          =simple_format(@translation.des_es)
        -else
          %i "no translation so far"
      -else
        =simple_format(@translation.event.des_es)
    
  #tabs-2   
    %p
      %b Ekitaldiaren Titulua
      %br/
      -if @translation.event.title_eu.empty?
        -if !@translation.title_eu.empty?
          =@translation.title_eu
        -else
          %i "no translation so far"
      -else
        =@translation.event.title_eu
      %p
      %b Ekitaldiaren Deskripzioa
      %br/
      -if @translation.event.des_eu.empty?
        -if !@translation.des_eu.empty?
          =simple_format(@translation.des_eu)
        -else
          %i "no translation so far"
      -else
        =simple_format(@translation.event.des_eu)
  #tabs-3  
    %p
      %b Titre de L'événement
      %br/
      -if @translation.event.title_fr.empty?
        -if !@translation.title_fr.empty?
          =@translation.title_fr
        -else
          %i "no translation so far"
      -else
        =@translation.event.title_fr
      %p
      %b Descripcion de L'événement
      %br/
      -if @translation.event.des_fr.empty?
        -if !@translation.des_fr.empty?
          =simple_format(@translation.des_fr)
        -else
          %i "no translation so far"
      -else
        =simple_format(@translation.event.des_fr)
  #tabs-4
    %p
      %b Event Title
      %br/
      -if @translation.event.title_en.empty?
        -if !@translation.title_en.empty?
          =@translation.title_en
        -else
          %i "no translation so far"
      -else
        =@translation.event.title_en
      %p
      %b Event Description
      %br/
      -if @translation.event.des_en.empty?
        -if !@translation.des_en.empty?
          =simple_format(@translation.des_en)
        -else
          %i "no translation so far"
      -else
        =simple_format(@translation.event.des_en)
%p  
  %button.black_font
    =link_to "Accept", commit_translation_path(:id=>@translation.id)