%h1 Temporal translation

%h3 
  Translated by
  = link_to @translation.user.name, @translation.user

-if !@translation.comment.empty?
  %h3 
    Comment:
    =@translation.comment
%small 
  Translations work in a community basis. Every user can submit translations to any event.                Therefore more people can understand and participate.
  Remember that you, as creator, can either accept or reject the proposed translation. 
%p 
  This is how the event would look
%p  
  =t :lang_spanish
  -if !@translation.des_es.empty?
    =@translation.des_es
  -else
    "No translation so far"
%p  
  =t :lang_basque
  -if !@translation.des_eu.empty?
    =@translation.des_eu
  -else
    "No translation so far"
%p  
  =t :lang_french
  -if !@translation.des_fr.empty?
    =@translation.des_fr
  -else
    "No translation so far"
%p  
  =t :lang_english
  -if !@translation.des_en.empty?
    =@translation.des_en
  -else
    "No translation so far"
    
=link_to "Accept", ""
=link_to "Reject", ""