%h1 Temporal translation

%h3 
  Translated by
  = link_to @translation.user.name, @translation.user

-if !@translation.comment.nil?
  %h3 
    Comment:
    =@translation.comment
%small 
  Translations work in a community basis. Every user can submit translations to any event.                Therefore more people can understand and participate.
  Remember that you, as creator, can either accept or reject the proposed translation. 
%p 
  This is how the event would look
#tabs  
  %ul
    <li><a href="#tabs-1">Nunc tincidunt</a></li>
    <li><a href="#tabs-2">Proin dolor</a></li>
    <li><a href="#tabs-3">Aenean lacinia</a></li>
    %li
      %a 
        #tabs-4 
          =link_to "English", "#tab-4"
        
  #tabs-1    
    -if !@translation.des_es.nil?
      =@translation.title_es
      %br
      =@translation.des_es
    -else
      "No translation so far"
  #tabs-2   
    -if !@translation.des_eu.nil?
      =@translation.title_eu
      %br
      =@translation.des_eu
    -else
      "No translation so far"
  #tabs-3  
    -if !@translation.des_fr.nil?
      =@translation.title_fr
      %br
      =@translation.des_fr
    -else
      "No translation so far"
  #tabs-4  
    -if !@translation.des_en.nil?
      =@translation.title_en
      %br
      =@translation.des_en
    -else
      "No translation so far"
    
=link_to "Accept", commit_translation_path(:id =>@translation.id)
=link_to "Reject", ""

%p  
  =t :lang_spanish
  -if !@translation.des_es.nil?
    =@translation.des_es
  -else
    "No translation so far"
%p  
  =t :lang_basque
  -if !@translation.des_eu.nil?
    =@translation.des_eu
  -else
    "No translation so far"
%p  
  =t :lang_french
  -if !@translation.des_fr.nil?
    =@translation.des_fr
  -else
    "No translation so far"
%p  
  =t :lang_english
  -if !@translation.des_en.nil?
    =@translation.des_en
  -else
    "No translation so far"
    
<a href="#" id="message">Hola sip!</a>