%h2.capital.theFont
  =title I18n.t(:account_locked)
%p
  In order to prevent possible attacks your
  account has been locked and is waiting for verification.
%p
  Follow this link =>
  %b=link_to "to reset your password", new_password_reset_path
  
