<%= render :partial => "layouts/left_bar", :locals => {:events => @events} %>

<div id="right_side">

<p id="notice"><%= notice %></p>

<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |


</div>
