
%h2 
  =title I18n.t(:user_events_created)
%div
  - if @events.empty?
    %p 
    =t :user_no_events_created
  - else
    - @events.each do |event|
      #user_block
        #user_block_pic
          = image_tag(event.pic.url(:medium), class: 'user_event_block_image', :alt =>'Event Picture')
        #user_block_details{:style=>"width:53%;"}
          .user_event_title.capital
            %b 
              =truncate(strip_tags(event.title), length:28)
          %div
            %d
              =l event.startDate, :format=> :long
          %div
            =event.place
            %d.capital
              =event.town
          %div
            -if !event.translations.empty? 
              -event.translations.each do |translation| 
                %small
                  =link_to I18n.t(:translation_pending), translation
        #user_block_info
          - if !event.cancelled && event.finish_date >= Time.now
            %div.rotate_div{:style=>"font-size:95%; background-color:8c8c8c;"}
              .rotate_text.capital.line_height
                =link_to I18n.t(:edit), edit_event_path(event)
            %div.rotate_div{:style=>"background-color:black;"}
              .rotate_text.capital.line_height
                =link_to I18n.t(:cancel), event, confirm: I18n.t(:are_you_sure), method: :delete
          %div.rotate_div
            .rotate_text.line_height
              =link_to 'INFO', event
          %div.rotate_div{:style=>"background-color:404041;"}
            .rotate_text.capital.line_height
              =link_to I18n.t(:submit_similar), resubmit_event_path(:id => event.id)

-if @events.count > 10
  #pagination
    .apple_pagination
      = will_paginate @events
