%h1 Listing users
%table
  %tr
    %th 
      =t :user_name
    %th 
      =t :user_town
    %th
      =t :user_province
    %th
      =t :user_photo

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.town
      %td= user.province
      %td
        - image = image_tag(@user.photo.url(:thumb), class: 'list_image')
        = link_to image, @user
%br

