%p#notice= notice
%h3 Welcome

=if @user.followings.empty?
  %p
    Here you can keep up to date checking the activity of the users you are following.
%p
-@microposts.each do |micro|
  %p
    =link_to micro.user.name, micro.user
    =micro.content
    -if micro.content.eql?("is now following")
      -@user = User.find(micro.object_id)
      =link_to @user.name, @user
    -else
      -@event = Event.find(micro.object_id)
      =link_to @event.title, @event
    %br
    %small
      =t :comment_posted  
      #{time_ago_in_words(micro.created_at)}
    