
%h2
  =title I18n.t(:recent_activity)

-if @user.followings.empty?
  %p
    Here you can keep up to date checking the activity of the users you are following.
%p
-@microposts.each do |micro|
  %p
    =link_to micro.user.name, micro.user
    =I18n.t(micro.content)
    -if micro.content.eql?("following")
      -if !User.exists?(:id=>micro.object_id)
        =t :user_nil
      -else
        -@user = User.find(micro.object_id)
        =link_to @user.name, @user
    -else
      -if !Event.exists?(:id=>micro.object_id)
        =t :event_nil
      -else
        -@event = Event.find(micro.object_id)
        -title = render 'layouts/title'
        =link_to title, @event
    %br
    %small
      =t :comment_posted  
      #{time_ago_in_words(micro.created_at)}
  