<div class="comment">
  <strong><% usr = h comment.user.name %> 
	<%= link_to usr, comment.user%> says:</strong><br />
	<small>Posted <%= time_ago_in_words(comment.created_at) %> ago</small>  
  <em><%= simple_format h(comment.body) %></em>
  <%= link_to 'Destroy Comment', comment,
    :confirm => 'Are you sure?',
    :method => :delete if @current_user %>
</div>