
%h2.capital.theFont
  =title I18n.t(:event_cancelation)
%p
  =t :cancel_intro
  
%p

  
= form_for(@event) do |f|  
  .field
    = f.label t :cancel_message
    %br
    = f.text_area :cancel_message
  .actions
    =f.submit