%p#notice= notice
%h2 Event Cancelation
%p
  The system says that there was already people interested in the vent. Therefore, we believe it would be good to let them know why the event has been cancelled.
%p
  Please write your message here:
  
= form_for(@event) do |f|  
  .field
    = f.label t :event_cancellation
    %br
    = f.text_area :cancel_message
  .actions
    =f.submit