%h1
  -title I18n.t(:locations)
-@events.each do |event|
  #block
    #block_pic
      -pic = image_tag(event.pic.url(:medium), class: 'event_block_image', :alt =>'Event Picture')
      =link_to pic, event
    #block_details
      .event_title.capital
        %b 
          -@event=event
          =render 'layouts/title'
      %div
        %d
          =l event.start_date, :format=> :block
        %d.event_town
          =event.place
        %d.capital
          =event.town
      %p
        %small
          =truncate(strip_tags(render 'layouts/description'), length:320)
    #block_info
      .rotate_text
        =link_to 'INFO', event
#pagination
  .apple_pagination
    = will_paginate