%h2
  =title I18n.t(:events_in)
  = I18n.t(@province)

-@events.each do |event|
  #block
    #block_pic
      =pic = image_tag(event.pic.url(:medium), class: 'event_block_image', :alt =>'Event Picture')

    #block_details
      .event_title.capital
        %b 
          =event.title
      %div
        %d
          =l event.start_date, :format=> :block
        %d.event_town
          =event.place
        %d.capital
          =event.town
      %p
        %small
          =truncate(strip_tags(event.description), length:320)
    #block_info
      .rotate_text
        =link_to 'INFO', event
        
-if @events.count > 10
  #pagination
    .apple_pagination
      = will_paginate @events