AccountNotifier#confirm

= @greeting + ", find me in app/views/account_notifier/confirm.text.haml"

Dear
= @user.name + ","

Thank you for joining the HiKultura community. 

Please click on this link, 
= link_to 'Click Me' log_in_path 
, in order to log into the the system and activate your account.

Kind regards,


HiKultura team