AccountNotifier#forgotten

= @greeting + ", find me in app/views/account_notifier/forgotten.text.haml"


Ok... so have forgotten your password again? Goshh...

No worries, that is the reason we are here.

Here you are: 
= @user.crypted_password

