Hello 
=@translation.event.user
%p
=@translation.user
just added some translation to you event
=@translation.event
%p
This way your event can reach bigger audiences.But before you have to approve it!

Check how it would look like and accept/reject it.


%p
=link_to 'Show me', translations_url


%p
Have fun,
%p
HiKultura Team