Hello 
=@translation.event.user.name
%p
=@translation.user.name
just added some translation to your event,
=@title
%p
This way your event can reach bigger audiences.But before you have to approve it!

Check how it would look like and accept/reject it.


%p
=link_to 'Show me', translations_url


%p
Have fun,
%p
HiKultura Team