/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require gmaps4rails
 *= require events
 *= require scaffolds
*/



body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;

}

#container {
	position:relative;
}

.wrap {
		position:relative;
		margin:0 auto;
		width:900px;
		z-index: 1;
		
	}

#header, #footer {
	width:100%;
#	float:left;
	overflow:hidden;
#	padding:0px;
	background-color: #324B4A;
	
	
	}
#footer {
	float:left;
}
#main {
	position:relative;
		margin:auto auto;
	width:900px;
	min-width:60%;

	
}

/* This is HEADER
*/

#header {
	background-image:url('cocineros.png');
	background-repeat: no-repeat;
	background-position: center;
	height:100px;
}

#header a {
	color: #43423E;
}

#logo {
	float:left;
}

#loggin {
	float:right;
}

#user_nav {
	vertical-align: %310;
}

#lang {
	float:right;
	position: relative;
	top: 20px;
}

.ln li {	
	display: inline;
	list-style: none;
}

#banner {
	height:65px;
	
}

#menu {
	margin: 0 auto;
	max-width:70%;
}

#menu ul li {
	position:relative;
	top: -2.8px;
	display: inline;
	list-style: none;
	vertical-align: baseline;
	background-color: #E88741;
	padding: 8px 17px 0px 17px;
	font-size:180%;
	margin-right: 4px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border: 1px solid black;
	text-shadow: #DDD 1px 1px 4px;
}


ul.tabnav li.active a  { 
	background-color: #A58115;
	padding: 8px 17px 2px 17px;
	margin: 0 -26px 0px -17px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
}
.current_tab {
		background-color: #A58115;
		padding: 8px 17px 2px 17px;
		margin: 0 -17px 0px -17px;
		border-right: 1px solid black;
		border-left: 1px solid black;
		border-top: 1px solid black;
}

#search {
	position: relative;
	float: right;
	left: 26px;
	top:-50px;
	padding: 0px 160px 0px 20px;
	background-color:#0F6F3B;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	border-left: 2px solid #324B4A;
	border-top: 2px solid #324B4A;
}



/* This is SIDE SEARCH BOX
*/

#sidebar {
	position:relative;
	float:right;
	background-color:#0F6F3B;
	left: 26px;
	bottom:5px;
	width: 235px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	border-left: 2px solid #324B4A;
	border-bottom: 2px solid #324B4A;
}

#sButton li{
	position:relative;
	margin: 0 auto;
	list-style: none;
}
#uploadEvent {
	
	margin: 0 auto;
	
}
.upload_button {
	position:relative;
	padding: 15px;
	background-color:#D66718 ;
	font-size:150%;
	top: 75px;
}


/* This is SUBMENU
*/

#submenu {
	position:relative;
	background-color: #A58115;
	text-shadow: #DDD 1px 1px 4px;
	padding: 4px 0px 8px 0px;
	text-align:center;
	right: 25px;
	margin-right: 184px;
	width:714px;
}

#submenu div {
	display: inline-block;
	margin: 0 auto 0 auto;
}

#submenu div b{
	text-decoration: none;
	font-size: 100%;
}

/* This is the right column
*/

#right_side {
	float:left;
	width:525px;
	position: absolute;
	left: 160px;
	overflow:hidden;
	margin-bottom: 33px;
}



/* Pagination Style
*/

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }