// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* This is the left column
*/

#left {
 	float:left;
	max-width: 18%;
	overflow:hidden;
	margin-top:10px
}

.block {
	padding: 2px;
	border: 1px solid #324B4A;
	margin: auto 6px 8px auto;
	
	
}

.side_pic {
	max-width:50px;
	max-height: 70px;
	border: 1px solid #324B4A;
	float: left;
	margin: 2px;
	
}

.shadow {
  -moz-box-shadow:    1px 1px 2px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  box-shadow:         1px 1px 2px 2px #ccc;
}




.list_description {
	width:78%;
	dl {
		margin: 0;
	}
	
	dt {
		colour: #244;
		font-weight: bold;
		font-size: larger;
	}
	

	dd {
		margin:0;
		
	}
}

.list_image {
	border: 1px solid #324B4A;
	
}

table {
	border-collapse: collapse;
}
.list_line_even {
	background: #e0f8f8;
}


//Show main

.top {
	margin:1em;
	padding: 1em;
	border-bottom: 1px dashed grey;
	
	h1 {
		margin:0px;
	}
	
}

.list_image_show {
	position:relative;
	max-width: 240px;
	max-height: 250px;
	border: 1px  solid black;
	float:right;
	right:400px;
	
}

.details {
	width: 27%;
	padding: 3px;
	text-align: center;
	background-color: #D9DBD7;
}

.interested {
	overflow: auto;
	border-bottom: 1px dashed grey;
}


//All the info div

#info {
	width: 100%;
	overflow: hidden;
}




//Show side big

#side_big {
	float:left;
	
	
}

#description {

	width:45%;
	overflow: hidden;
}
	



//Show side small

.side_small{
	width:45px;
	float:right;
	
}

.attenders {
	margin-top: 30px;
}




#extra_info {
	
}

