// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* EVENTS AND LOCATIONS 
*/

#block {
	background: #cfd8dd;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
	background: -moz-linear-gradient(top, #ccc, #fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#css', endColorstr='#fff');
	margin-bottom: 10px;
	overflow:hidden;
	max-height:120px;
	
}

#block_pic {
	float:left;
	width: 27%;
	max-height: 120px;
	overflow:hidden;
}

#block_details{
	float:left;
	width: 65%;
	padding: 5px 10px 0px 10px;
	font-size:90%;
	text-align:justify;
}

#block_info {
	float:left;
	background-color:red;
	height:100%;
	font-size:160%;
	padding:0;
	max-width:5%;
	a{
		color:white;
		&:hover{
			color:#ccc;
		};
	}
	
}

.event_block_image {
		max-width: 180px;
}

.event_title {
	color:red;
	font-size:120%;
	margin-bottom: 2px;
}

.event_town {
	margin-left:5px;
}
.rotate_text {
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	
	line-height:140px;

}

/* SEARCH RESULTS
*/

#search_block_info {
	float:left;
	background-color:red;
	height:100%;
	font-size:160%;
	padding:0;
	max-width:5%;
	a{
		color:white;
		&:hover{
			color:#ccc;
		};
	}
	
}





