#header, #submenu, #left_bar, #right {
	display:none;
}

// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* EVENTS AND LOCATIONS 
*/

#block {
	background: transparent;

	margin-bottom: 10px;
	overflow:hidden;
	max-height:120px;
	
}

#block_pic {
	float:left;
	width: 27%;
	max-height: 120px;
	overflow:hidden;
}

#block_details{
	float:left;
	width: 65%;
	padding: 5px 10px 0px 10px;
	font-size:90%;
	text-align:justify;
}

#block_info {
	float:left;
	background-color:red;
	height:100%;
	font-size:160%;
	padding:0;
	max-width:5%;
	a{
		color:white;
		&:hover{
			color:#ccc;
		};
	}
	
}

.event_block_image {
		max-width: 180px;
}

.event_title {
	color:red;
	font-size:120%;
	margin-bottom: 2px;
}

.event_town {
	margin-left:5px;
}
.rotate_text {
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	
	line-height:140px;

}

/* SEARCH RESULTS
*/

#search_block_info {
	float:left;
	background-color:red;
	height:100%;
	font-size:160%;
	padding:0;
	max-width:5%;
	a{
		color:white;
		&:hover{
			color:#ccc;
		};
	}
	
}

/* EVENT FORM
*/
.total_width {
	width:100%;
}


/* SHOW AN EVENT
*/
#central_with_bar{
	width:100%;
	position:relative;
	h1{
		font-size:120%;
	}
}
#photo {
	max-height:260px;
	overflow:hidden;
}
.event_show_photo {
	max-width:100%;
	z-index:-1;
} 

#main_details {
	position:relative;
	background: transparent;
	
	overflow:hidden;
	padding:1px 5px;
	margin: 5px 0;
	h1{
		font-size:150%;
	}
	#title {
		margin-bottom:-10px;
	}
	div {
		float:left;
		min-height:50px;
		font-size:75%;
		b{
			
		}
	}
}

#event_description {
	text-align:justify;
	font-size:80%;
}

#event_reminder{
	float:left;
	width:100%;
	margin:0 auto;
	text-align:center;
	a {
		text-indent: -5000px ;
		margin:0 auto 10px auto;
		display:block;
		width:75px;
		height:64px;
	}
}
.sp_remind{
	a{
		background: url("remindme_sp_culture_spain_euskadi_fin_de_semana.png") 0 0 no-repeat;
		&:hover{
			background-position: 0 -64px ;
		};
	}
	
}
.event_remind_pic{
	
}

#tabs {
	float:left;
	width:98%;
	page-break-before: always;
	
}

/* EVENT SHOW TABS
*/

#attenders {
	width:99%;	
	#an_attender{
		float:left;
		width:50%;
		height:110px;
		
		#an_attender_photo{
			float:left;
			width:42%;
		}
		#an_attender_info{
			float:left;
			overflow:hidden;
		}
	}
}

#event_contact_info{
	float:left;
	width:70%;
	b{
		
	}
}
#event_contact_photo{
	float:right;
	width:30%;
}

#gmaps{
	position:relative;
}


