// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/* Reminders and Event created
*/


.entry_side {
	
	margin-top: 4px;
	margin-bottom: 4px;
	overflow: hidden;
	border-bottom: 1px dotted black;
}
.rem_icon {
	float: right;
	
	.icon {
		max-height:25px;

	}

}

.list_actions{
	float:right;
	border: 2px solid black;
}