-if I18n.locale.to_s== "en" && !@event.des_en.empty?
  =@event.des_en
-elsif I18n.locale.to_s == "eu" && !@event.des_eu.empty?
  = @event.des_eu
-elsif I18n.locale.to_s == "fr" && !@event.des_fr.empty?
  = @event.des_fr
-elsif !@event.des_es.empty?
  =@event.des_es
-elsif !@event.des_eu.empty?
  = @event.des_eu
-elsif !@event.des_fr.empty?
  =@event.des_fr
-else
  = @event.des_en