
- if @leftbar_switch
  .left_bar_title.capital
    =@lb_title
  #vertical_line.trial
  #lb_events
    - @events_leftbar.each do |event|
      -@event=event
      #lb_entry
        - image = image_tag(event.pic.url(:thumb), class: 'side_pic', alt: 'Event picture')
        = link_to image, event
        #lb_entry_title.capital
          = link_to (render "layouts/title") , event
        %d
        #lb_entry_details
          = l event.start_date,  :format => :block
          | #{event.town}
        .separator