

Hello 
=@user.name
-
=@event.user.name
just uploaded this event you might be interested on. Check it out

=@event.title
=@event.startDate
=@event.description

=link_to 'Show me', events_url(@event)
=link_to 'Add to you reminders', add_reminder_path(:id => @event.id)

Remember that you can always change your alarm settings by visiting your account. If so please
=link_to "click here.", alarms_path 


Have fun,

HiKultura Team