We are sorry to announce that 
=@vent.title due 
=l @event.start_date, :format => long has been cancelled.

Organizer said:
=@event.cancel_message

=link_to 'Show me', events_url(@event)

No worries, new stuff will come soon,

HiKultura Team