Hi there bacalao!

Do not forget that =@event.title is =l @event.start_date, :format => long

Excerpt of description:
=truncate(strip_tags(@event.description), length:200)

=link_to 'Show me', events_url(@event)

Have fun,

HiKultura Team